.subheader {
    text-align: center;
    max-width: 200px;
    margin: auto;
}
.container-chart {
    height: 200px;
}
.row-chart {
    
    width: 80%;
    margin: auto;
}

.col-chart{
    text-align: center;
    background:#333;
}
.graph-title {
    text-align: center;
}
.customer-space {
    margin: 30px;
    height: 180px;
}

