.subheader {
    text-align: center;
    max-width: 200px;
    margin: auto;
}
.container-chart {
    height: 200px;
}
.row-chart {
    
    width: 80%;
    margin: auto;
}

.col-chart {
    text-align: center;
   
}
.graph-title {
    text-align: center;
}


