/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  /* background-image: url('nysebackground.jpg'); */
  padding-top: 0;
  margin-top: 0;
}

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  
}

/* .search {
  width: 100%;
  position: relative;
  display: flex;
  
}

.searchTerm {
  width: 100%;
  border: 3px dotted #8B8E91;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  
} */
.text-center {
  color: #090cdb62;
  margin: 20px;
}

/* .fa-search:before {
    content: "\f002";
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid rgba(102, 108, 18); 
  background-color: #00B4CC;
  text-align: center;
  
  border-radius:  5px 5px 0;
  cursor: pointer;
  font-size: 20px;
} */

/*Resize the wrap to see the search bar change! 8B8E91*/
/* .wrap{
  width: 30%;
  position: relative;
  top: 34%;
  left: 70%;
  transform: translate(-50%, -50%);
} */

::placeholder{
    text-align:center;
}

.collection{
    text-align:center;
    display: flex;
    justify-content: center;
 
}
.container{
    text-align:center;
    display:flex;
    justify-content: center;
    transform: skew(-10deg, 0deg);
}

.collection-item{
    display:flex;
    justify-content: center;
     width: 60%;
    border: solid rgba(146,155, 8, 1) 3px;
}



.Symbol{
    color:rgba(157, 11, 113, 0.762);
   
}
.stockList{
  height:500px;
  overflow: scroll;
}
.searchform input[type="search"] {
  border: 1px solid transparent;
  border-radius: 3px;
  outline: medium none;
  background-color: transparent;
  border: medium none;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: grey;
  border-radius: 0;
  box-sizing: content-box;
 font-family: in/herit;
 font-size: 100%;
 margin-bottom: 0;
 padding: 3px 0;
 transition: all 0.5s ease 0s;
 max-width: 300px;
 width: calc(100% - 15px);
 -webkit-appearance: none;
 -moz-appearance: none;
}

.search-outer {
  margin: 30px 0 20px;
  text-align: center;
}

.searchform {
  display: inline-block;
  position: relative;
  left: 0;
  right: 0;
}
.searchform button[type="submit"] {
 background-color: rgba(0, 0, 0, 0);
 border: medium none;
 height: 30px;
 line-height: 1;
 font-size: 15px;
}
