* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.footer-bg-dark {
    background-color: #141414e0;
    padding: 30px;
}
.footer-disp-flex {
    display: flex;
    justify-content: space-between;
}
.footer-disp-flex ul {
    list-style: none;
}
.footer-disp-flex ul li .color-white:hover {
    color: #07e725;
}
.footer-disp-flex ul li .color-white {
    color: #fff;
}
.container-w {
    width: 70%;
    margin: auto;
}

.footer-container {
    /* max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden; */
    display: flex;
    justify-content: center;
    color: #fff;
}
.footer-line {
    border:none;
    border-top:1px dotted #f00;
    color:#fff;
    background-color:#fff;
    height:1px;
    width:100%;
    margin:30px;
}